* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Manrope;
  font-size: 13px;
  font-weight: 500;
  background-color: hsl(210, 46%, 95%);
  color: hsl(212, 23%, 69%);
}

main {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100%;
  min-height: 100vh;
}
main .component {
  width: 325px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 4px 0 30px hsl(212, 23%, 69%);
}
main .component img {
  width: 100%;
  height: 200px;
}

section {
  margin: 0 30px;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
section h1 {
  margin-top: 28px;
  font-size: 16px;
  color: hsl(214, 17%, 35%);
}
section h1 + p {
  margin-top: 14px;
}

.article-footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}
.article-footer .writer {
  display: flex;
  -moz-column-gap: 18px;
       column-gap: 18px;
}
.article-footer .writer img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.article-footer .writer p.name {
  color: hsl(214, 17%, 35%);
  font-weight: 700;
}
.article-footer #share-tooltip-toggle {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 32px;
  height: 32px;
  background-color: hsl(210, 46%, 95%);
  align-self: center;
  border-radius: 50%;
  color: hsl(214, 17%, 35%);
  z-index: 2;
}
.article-footer #share-tooltip-toggle:hover {
  cursor: pointer;
}
.article-footer #share-tooltip-toggle.active {
  background-color: hsl(212, 23%, 69%);
  color: white;
}
.article-footer .share-tooltip {
  display: none;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 18px;
       column-gap: 18px;
  width: 100%;
  height: 70px;
  padding-left: 30px;
  background-color: hsl(217, 19%, 35%);
  position: absolute;
  bottom: 0;
  left: 0;
}
.article-footer .share-tooltip span {
  text-transform: uppercase;
  letter-spacing: 5px;
}
.article-footer .share-tooltip img {
  width: 18px;
  height: 18px;
}

.page-footer {
  text-align: center;
  margin-bottom: 10px;
  color: hsl(217, 19%, 35%);
}
.page-footer a {
  color: black;
}

@media screen and (width > 800px) {
  main .component {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 730px;
    overflow: visible;
    height: 280px;
  }
  main .component > img {
    height: 100%;
    -webkit-clip-path: inset(0 64px 0 0);
            clip-path: inset(0 64px 0 0);
  }
  section {
    margin: 32px 30px 0 -24px;
  }
  section h1 {
    margin: 0;
    font-size: 22px;
    line-height: 1.3;
    letter-spacing: -0.7px;
  }
  .article-footer {
    margin-top: 18px;
  }
  .article-footer #share-tooltip-toggle {
    margin-right: 10px;
  }
  .article-footer .share-tooltip {
    padding-left: 38px;
    width: 250px;
    height: 56px;
    top: 46%;
    left: 75%;
    border-radius: 12px;
  }
  .article-footer .share-tooltip::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 116px;
    border: 12px solid;
    border-color: hsl(214, 17%, 35%) transparent transparent transparent;
  }
}/*# sourceMappingURL=style.css.map */